# Big code stuff
*.gch
*.so

# Big binary files
build/

# Laziness
stb_image.h

# SPIR-V binary files
*.spv

# Hide clangd files
.cache
compile_commands.json

# For Microsoft development environments
.vscode
.vs
CMakeSettings.json